@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Student>


<div class="cards-7  section-gray">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model){
                        <div class="col-md-4 mb-3 ">
                            <div class="card card-profile p-3">
                                <div class="card-image">
                                    <a href="#"> <img class="img-fluid" src="@item.Image"> </a>
                                </div>
                                <div class="table">
                                    <h4 class="card-caption ">@item.Name</h4>
                                    <h6 class="category text-gray">@item.Address</h6>
                                    <a class="btn btn-outline-dark" href="/student/Details/@item.Id">Details</a>
                                </div>
                            </div>
                        </div>
                   }
                </div>
            </div>
        </div>


