@model List<Instractor>
@foreach (var item in Model)
{

	<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
		<div class="team-item h-100 bg-light">
			<div class="overflow-hidden">
				<img class="img-fluid d-block m-auto" style="min-height:300px;object-fit:cover" src="~/Images/@item.Image" alt="">
			</div>
			<div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
				<div class="bg-light d-flex justify-content-center pt-2 px-1">
					<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
					<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
					<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="text-center p-4 mt-auto ">
				<h5 class="mb-0">@item.Name</h5>
				<small>@item.Address</small>
				<div class="mt-2">
					<a class="btn btn-outline-dark" href="/Instructor/Details/@item.Id">Details</a>
					<a class="btn btn-outline-dark" href="/Instructor/Edit/@item.Id">Edit</a>
				</div>
			</div>

		</div>
	</div>
}
<script>
   var viewbagitem = "@ViewBag.deptName";
</script>
