@model Course
@{
	ViewData["Title"] = "New";
	SelectList DeptsItems = new SelectList(ViewBag.depts,"Id","Name"); 

}

<div class="container-fluid my-4">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
				<form method="post" class="form">

					<div class="row">
						<div class="col-12">
							<h2 class="">Add Course</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-12">
							<div>
								<!--Name -->
								<div class="form-group mb-3">
									<label asp-for="Name">Course Name</label>
									<input asp-for="Name" class="form-control">
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
								<!--Department -->
								<div class="form-group mb-3">
									<label asp-for="DeptId">Department</label>
									<select asp-items="DeptsItems" asp-for="DeptId" class="form-select ">
										<option  selected="0">Select Department</option>
									</select>
									<span asp-validation-for="DeptId" class="text-danger"></span>

								</div>

								<!--Degree -->
								<div class="form-group mb-3">
									<label asp-for="Degree">Course Degree</label>
									<input asp-for="Degree" class="form-control">
									<span asp-validation-for="Degree" class="text-danger"></span>

								</div>
								<!--Mindegree -->
								<div class="form-group mb-3">
									<label asp-for="Mindegree">Course Mindegree</label>
									<input asp-for="Mindegree" class="form-control">
									<span asp-validation-for="Mindegree" class="text-danger"></span>

								</div>

								

							</div>
						</div>

						<div class="col-12">
							<!-- Cancel button-->
							<a asp-action="Index" class="btn btn-primary me-2">Cancel</a>
							<button type="submit" class="btn btn-primary btn-block text-uppercase">Add Course Now</button>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>